
.button_play{
    text-align: center;

    button{
        font-family: 'got', serif; 
        color: #AEAEAF; 
        text-align: center;
        font-size: 1.4em; 
        background-color:  #202020;
        padding: 1%; 
        background: linear-gradient(rgb(58, 58, 58), rgb(197, 197, 197), rgb(58, 58, 58));
        -webkit-background-clip: text; 
        color: transparent; 
    }

    button:hover{
        cursor: pointer;
        
    }
}