.fullscreen-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-background_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

audio {
  margin: 0;
  margin-bottom: -3%;
  padding: 0;
}

@font-face {
  font-family: got;
  src: url(Fonts/got.ttf);
}
body {
  line-height: 1.5;
}

.header {
  font-family: "got", serif;
  color: #AEAEAF;
  font-size: 2.5em;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 3%;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
}

.header-finalpage {
  font-family: "got", serif;
  color: #AEAEAF;
  font-size: 2.5em;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  font-family: "got", serif;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
}

p {
  font-family: "got", serif;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
}

a {
  color: lightblue;
}

.speaker {
  font-family: "got", serif;
  font-size: 1em;
  margin-left: 1%;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
}

.speaker:hover {
  cursor: pointer;
  box-shadow: 1px 5px 40px 10px rgba(184, 184, 184, 0.5);
}

.character-card-button {
  font-family: "got", serif;
  color: #AEAEAF;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.4em;
  background-color: #202020;
  padding: 5%;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: -3%;
}

button:hover {
  box-shadow: 1px 5px 40px 10px rgba(184, 184, 184, 0.5);
  cursor: pointer;
}

.playGame {
  text-align: center;
  margin-top: 2%;
}

.playGame_button {
  font-family: "got", serif;
  color: #AEAEAF;
  text-align: center;
  font-size: 1em;
  background-color: #000000;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
}

.playGame_button:hover {
  box-shadow: 1px 5px 40px 10px rgba(184, 184, 184, 0.5);
  cursor: pointer;
  background-color: #000000;
}

/*Points for players*/
.playerContainer1 {
  margin-top: -4%;
}

.playerContainer2 {
  float: right;
  margin-top: -2%;
}

#playerOneName {
  display: block;
  margin-left: 1%;
  font-family: "got", serif;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
}

#playerTwoName {
  display: block;
  font-family: "got", serif;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
}

#playerOnePoints {
  float: left;
  margin-left: 1%;
  font-family: "got", serif;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
}
#playerOnePoints p {
  margin-right: 0;
}

#playerTwoPoints {
  float: right;
  margin-right: 1%;
  font-family: "got", serif;
  background: linear-gradient(#616161, #dfdfdf, #616161);
  -webkit-background-clip: text;
  color: transparent;
}
#playerTwoPoints p {
  margin-right: 0;
}

.diceAmount {
  font-size: 1.5em;
}

.winner-text {
  text-align: center;
  margin-bottom: 15%;
}

.footer-text {
  color: white;
  font-family: sans-serif;
}

.button_play {
  text-align: center;
}
.button_play button {
  font-family: "got", serif;
  color: #AEAEAF;
  text-align: center;
  font-size: 1.4em;
  background-color: #202020;
  padding: 1%;
  background: linear-gradient(#3a3a3a, #c5c5c5, #3a3a3a);
  -webkit-background-clip: text;
  color: transparent;
}
.button_play button:hover {
  cursor: pointer;
}

.gamePopup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Popup Content */
.popup-content {
  text-align: center;
  background-color: #202020;
  color: white;
  margin: auto;
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 1px solid black;
  width: 80%;
  align-content: center;
}

.popup-text {
  margin-left: 25%;
  margin-right: 25%;
}

.trap-text {
  font-family: sans-serif;
  padding: 2%;
  font-size: 1.5em;
}

/*button popup*/
#rolled {
  font-family: "got", serif;
  color: #AEAEAF;
  text-align: center;
  font-size: 1em;
  background-color: #202020;
  padding: 1%;
  background: linear-gradient(#3a3a3a, #c5c5c5, #3a3a3a);
  -webkit-background-clip: text;
  color: transparent;
}

/*Tiles- styling*/
.board-game {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  row-gap: 5%;
  column-gap: 0.5%;
  margin-left: 12%;
  margin-right: 15%;
  padding-top: 3%;
  padding-bottom: 5.5%;
  margin-top: 3%;
}

.board {
  margin-top: 5%;
  display: inline-block;
  border: 5px solid #818181;
  width: 70px;
  height: 70px;
  padding: 20px;
  background-color: white;
}
.board p {
  font-family: serif;
  margin: 0;
  padding: 0;
  color: #272727;
}

.tile_player1 {
  float: right;
  z-index: 10 !important;
}

.tile_player2 {
  float: left;
  margin-top: -72%;
  z-index: 10 !important;
}

div[class*=tiles-] {
  border-top: 4px solid #949494;
  border-bottom: 4px solid #949494;
}

.tiles-5, .tiles-13, .tiles-19, .tiles-24, .tiles-29 {
  background-color: #464646;
}
.tiles-5 p, .tiles-13 p, .tiles-19 p, .tiles-24 p, .tiles-29 p {
  color: white;
}

.tiles-30 {
  background-image: url("/Images/throne.svg");
}

.diceAndButton {
  margin-top: -5%;
}

#dice {
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
#dice p {
  font-family: sans-serif;
}

.cards {
  display: grid;
  column-gap: 4.5vw;
  row-gap: 3vw;
  grid-template-columns: repeat(10, 10%);
  /* The popup (background) / card select page*/
  /* Popup in card select page */
  /* close button */
  /*Row 1*/
  /*Row 2*/
}
.cards .cards-border {
  border: 5px solid linear-gradient(#535353, lightgray, #535353);
  width: 200px;
  height: 100%;
  background-color: black;
}
.cards .popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.cards .popup-content {
  text-align: center;
  background-color: #202020;
  color: white;
  margin: auto;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 1px solid black;
  width: 60%;
  align-content: center;
}
.cards .popup-text {
  margin-left: 25%;
  margin-right: 25%;
  background: none;
  color: #dfdfdf;
  font-family: sans-serif;
  line-height: 2em;
  font-size: 1.5em;
}
.cards #selectBtn {
  font-family: "got", serif;
  color: #AEAEAF;
  text-align: center;
  font-size: 1em;
  background-color: #202020;
  padding: 1%;
  margin-top: 3%;
  background: linear-gradient(#3a3a3a, #c5c5c5, #3a3a3a);
  -webkit-background-clip: text;
  color: transparent;
}
.cards .closeBtn {
  color: #aaaaaa;
  font-size: 30px;
  font-weight: bold;
  float: right;
  margin-top: -5%;
  margin-right: 5%;
}
.cards .closeBtn:hover,
.cards .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.cards .cardSelected {
  box-shadow: 10px 10px 40px 5px rgba(233, 233, 233, 0.5);
}
.cards .cards-1 {
  grid-column: 2/3;
  grid-row: 1;
}
.cards .cards-2 {
  grid-column: 3/4;
  grid-row: 1;
}
.cards .arya {
  padding-top: 12%;
  padding-bottom: 15%;
}
.cards .cards-3 {
  grid-column: 4/5;
  grid-row: 1;
}
.cards .cards-4 {
  grid-column: 5/6;
  grid-row: 1;
}
.cards .cards-5 {
  grid-column: 6/7;
  grid-row: 1;
}
.cards .cards-6 {
  grid-column: 2/3;
  grid-row: 2;
}
.cards .cards-7 {
  grid-column: 3/4;
  grid-row: 2;
}
.cards .cards-8 {
  grid-column: 4/5;
  grid-row: 2;
}
.cards .cards-9 {
  grid-column: 5/6;
  grid-row: 2;
}
.cards .cards-10 {
  grid-column: 6/7;
  grid-row: 2;
}
.cards .cards__image {
  width: 100%;
}

.tile_player1 {
  float: none;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.newGame {
  text-align: center;
}
.newGame button {
  font-family: "got", serif;
  color: #AEAEAF;
  text-align: center;
  font-size: 1.4em;
  background-color: #202020;
  padding: 1%;
  margin-top: -18%;
  margin-bottom: 5%;
  background: linear-gradient(#3a3a3a, #c5c5c5, #3a3a3a);
  -webkit-background-clip: text;
  color: transparent;
}
.newGame button:hover {
  cursor: pointer;
}

footer {
  background-color: black;
  bottom: 0;
  padding: 3%;
}

/*# sourceMappingURL=style.css.map */
